# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL

RewriteRule ^userlogin/$ RestController.php?action=userLogin [nc,qsa]
RewriteRule ^createTeamLead/$ RestController.php?action=createTeamLead [nc,qsa]
RewriteRule ^viewTeamLead/$ RestController.php?action=viewTeamLead [nc,qsa]

#RewriteRule ^mobile/list/([0-9]+)/$   RestController.php?view=single&id=$1 [nc,qsa]