# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL

#for users
RewriteRule ^userlogin/$ RestController.php?action=userLogin [nc,qsa]
RewriteRule ^createTeamLead/$ RestController.php?action=createTeamLead [nc,qsa]
RewriteRule ^viewTeamLead/$ RestController.php?action=viewTeamLead [nc,qsa]

#for books
RewriteRule ^addBooks/$ RestController.php?action=addBooks [nc,qsa]
RewriteRule ^addBooksTeamLead/$ RestController.php?action=addBooksTeamLead [nc,qsa]
RewriteRule ^listOFBookIDNotUpdated/$ RestController.php?action=listOFBookIDNotUpdated [nc,qsa]
RewriteRule ^libraryALLBookData/$ RestController.php?action=libraryALLBookData [nc,qsa]

#for Library
RewriteRule ^listOfLibraryId/$ RestController.php?action=listOfLibraryId [nc,qsa]
RewriteRule ^libraryData/$ RestController.php?action=libraryData [nc,qsa]

#for members
RewriteRule ^addMember/$ RestController.php?action=addMember [nc,qsa]
RewriteRule ^viewMembersTeamLead/$ RestController.php?action=viewMembersTeamLead [nc,qsa]

#RewriteRule ^mobile/list/([0-9]+)/$   RestController.php?view=single&id=$1 [nc,qsa]