# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL

#for users
RewriteRule ^userlogin/$ RestController.php?action=userLogin [nc,qsa]
RewriteRule ^createTeamLead/$ RestController.php?action=createTeamLead [nc,qsa]
RewriteRule ^viewTeamLead/$ RestController.php?action=viewTeamLead [nc,qsa]
RewriteRule ^getTeamLeader/$ RestController.php?action=getTeamLeader [nc,qsa]

#for books
RewriteRule ^addBooks/$ RestController.php?action=addBooks [nc,qsa]
RewriteRule ^addBooksTeamLead/$ RestController.php?action=addBooksTeamLead [nc,qsa]
RewriteRule ^listOFBookIDNotUpdated/$ RestController.php?action=listOFBookIDNotUpdated [nc,qsa]
RewriteRule ^libraryALLBookData/$ RestController.php?action=libraryALLBookData [nc,qsa]
RewriteRule ^allListOFBookID/$ RestController.php?action=allListOFBookID [nc,qsa]
RewriteRule ^bookData/$ RestController.php?action=bookData [nc,qsa]
RewriteRule ^bookNotification/$ RestController.php?action=bookNotification [nc,qsa]
RewriteRule ^updateBook/$ RestController.php?action=updateBook [nc,qsa]

#for Library
RewriteRule ^listOfLibraryId/$ RestController.php?action=listOfLibraryId [nc,qsa]
RewriteRule ^libraryData/$ RestController.php?action=libraryData [nc,qsa]

#for members
RewriteRule ^addMember/$ RestController.php?action=addMember [nc,qsa]
RewriteRule ^viewMembersTeamLead/$ RestController.php?action=viewMembersTeamLead [nc,qsa]
RewriteRule ^listOfMemberID/$ RestController.php?action=listOfMemberID [nc,qsa]
RewriteRule ^memberData/$ RestController.php?action=memberData [nc,qsa]
RewriteRule ^updateMember/$ RestController.php?action=updateMember [nc,qsa]

#for sales
RewriteRule ^addBookSales/$ RestController.php?action=addBookSales [nc,qsa]
RewriteRule ^salesDetails/$ RestController.php?action=salesDetails [nc,qsa]

#for Transactions
RewriteRule ^addTransaction/$ RestController.php?action=addTransaction [nc,qsa]
RewriteRule ^viewTransaction/$ RestController.php?action=viewTransaction [nc,qsa]
RewriteRule ^returnBook/$ RestController.php?action=returnBook [nc,qsa]